.advantages__list {
  display: flex;
}

.advantages__item {
  width: 270px;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages {
  &__icon {
    background-color: $icon-fon;
  }

  &__title {
    @include font3(700, 14px, 1.14);
    text-transform: uppercase;
  }

  &__text {
    @include font(400, 14px, 1.7, 0.03em);
    color: $secondary-text-color;
  }
}

.advantages__icon {
  @include centeredFlex();
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  margin-bottom: 10px;
}
