.site-nav__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.site-nav__close {
  display: none;
}

.site-nav__button.is-open .site-nav__close {
  display: block;
}

.site-nav__button.is-open .site-nav__menu {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  height: 400px;
  background-color: $bgd-text-color;
  padding: 40px;
  text-align: start;
}
